# Logs
logs
*.log
npm-debug.log*

# Node.js
node_modules/

# Build files
build/
dist/

# Environment variables
.env

# Editor settings
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Imágenes o archivos temporales
*.tmp
*.temp
*.swp

# Otros
coverage/    # Si usas herramientas de cobertura de pruebas
*.pid        # Archivos PID de procesos
